.progress__parent {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  height: 30px;
  width: 100%;
}
.progress {
  width: 100%;
  background-color: #23bb3c77;
  border-radius: 5px;
}
